<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        <article>
          {% for publication in site.data.publications %}
            <p itemscope itemtype="http://schema.org/CreativeWork">
              <meta itemprop="author" content="{{ publication.author }}" />
              <a href="{{ publication.URL }}" itemprop="url">
                <cite itemprop="name">{{ publication.title }}.</cite>
              </a>
              {% if publication.genre %}
                <span itemprop="genre">{{ publication.genre }}</span>.
              {% endif %}
              {% if publication.event-place %}
                <span itemprop="contentLocation">{{ publication.event-place }}</span>.
              {% endif %}
              <date itemprop="datePublished"> {% for item in publication.issued %} {{  item[1] item[2] item[3] | join: '-' }} {% endfor %}</date>.
            </p>
          {% endfor %}
        </article>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
